/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 10px;
	padding: 10px 20 px 30px 40px;
	border: 15;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}


/*My CSS starts here*/



p, header, footer, h1, h2
{
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: #FFFFFF;
	font-size: 24px;
}

img 
{
	margin: 0 25%;
	padding: 10px 20 px 30px 40px;
}

section#sidebar
{
	float: left;
}

aside
{
	float: right;
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: #004C4C;
	font-size: 24px;
	background-color: #FF0000;
}

aside#noside
{
	float: center;
	color: #922222;
	font-size: 24px;	
}

body
{
	background-image: url("../images/blackground.jpg");
	background-size: 200px;
}

ol
{
	list-style-type: upper-alpha; color: red;
	font-size: 24px;
	position: absolute;
	left: 50px;
	top: 250px; 
}

ul
{
	list-style: square; color: red;
	font-size: 24px;
}

.center
{
	margin-right: auto;
	margin-left: auto;
}

a:hover
{
	color: #FF3300;
	background-color: #00FF00;
}

a:link
{
	color: #FFFFFF;
}

a:active
{
	color: #CCFF33;
}

p:hover
{
	color: #FF3300;
}

a:visited
{
	color: gray;
}

table#first
{
	position: fixed;
	color: white;
	font-size: 50px;
	border: 2px solid red;
	height: 100px;		
}

table#best
{
	position: absolute;
	bottom: 10px;
	background-color: yellow;
	font-size: 15px;
	border: 3px solid red;
	width: 100%;
	height: 100px;
	text-align: center;

}

th, td
{
	border: 3px solid black;
}


.firstrow:nth-of-type(odd)
{
	color: orange;
	background-color: purple;
}

.firstrow:nth-of-type(even)
{
	background-color: yellow;
}

tr#table_header
{
	background-color: purple;
}

.bestcol:first-child
{
	color: blue;
}

.bestcol:nth-child(3)
{
	color: red;
	background-color: black;
}

.bestcol:last-child
{
	background-color: red;
}

.bestcol:nth-last-child(3)
{
	background-color: orange;
}

.bestcol:first-of-type
{
	background-color: purple;
}

.bestcol:last-of-type
{
	background-color: green;
}

.bestrow
{
	color: white;
	background-color: blue;
}


thead
{
	background-color: white;
}

p:first-child{color: orange;}
p:nth-child(2){background-color: purple;}
p:nth-child(3){background-color: #00FF00;}
p:last-child{background-color: yellow;}
p:nth-last-child(2){border-width: 10px; border-style: groove; border-color: red; color: green;}





