/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 10px;
	padding: 10px 20 px 30px 40px;
	border: 15;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*My CSS starts here*/

p, header, footer, h1, h2
{
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: #FFFFFF;
	font-size: 24px;
}
img 
{
	margin: 0 20%;
	padding: 10px 20 px 30px 40px;
}
section#sidebar
{
	float: left;
}
aside
{
	float: right;
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: #004C4C;
	font-size: 24px;
}
aside#noside
{
	float: center;
	color: #922222;
	font-size: 24px;	
}
body 
{
	background-image: url("../images/blackground.jpg");
}

ol{
	list-style-type: upper-alpha; color: red;
	font-size: 24px;
}
ul{
	list-style: square; color: red;
	font-size: 24px;
}
.center{
	margin-right: auto;
	margin-left: auto;
}
a:hover{
	color: #FF3300;
	background-color: #00FF00;
}
a:link{
	color: purple;
}
a:active{
	color: white;
}
a:visited{
	color: gray;
}
p:hover{
	color: #FF3300;
}
